<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <connectionStrings>   
        <add name="MyKey" 
             connectionString="SERVER=dima.cucoventry.webredirect.org;DATABASE=cucovent_AzmanSys;UID=cucovent_Admin;PASSWORD=P@ssw0rd1;SslMode=none;"
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>